
{{ $name := .Name}}

<div class="card">
    <a href = "/authors/{{ urlize $name }}" class = "member_name  member-flex">
    
        <!--
        {{ with .Thumbnail }}
        <img class="thumbnail" src="{{ . }}">
        {{ end }}
        -->
  
        <div>
            {{if .Icon}}
                <img class = "member_icon_img_2" src="{{ .Icon }}" alt="a">
            {{end}}
        </div>

        <div class = "incard">   

            <div class="name_locate">{{ $name }}</div>
        </div>
    </a>
</div>

