{{- if $thumbnail := .page.Params.thumbnail }}

<style>
    /* CSSスタイルを定義します */
    .post__thumbnail {
        /* ここにサムネイル画像のスタイルを追加します */
        width: 100%; /* 画像の幅を100%に設定します */
        height: auto; /* 画像の高さを自動調整します */
        /*border-radius: 8px; /* 角丸の半径を設定します */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* ボックスシャドウを追加します */
        filter: opacity(60%);
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .test1 {
        position: relative;
    }
    .post_head {
        position: absolute; 
        color: white;
        bottom: 20px;
        left: 0px;
        background-color: #ff9305ab;
        width: 100%;
        /*border-radius: 8px;*/
    }
    .post_head h1{
        left: 10px;
        color: white;
    }
</style>

<figure>
<div class="test1">
    <img class="post__thumbnail" src="{{ $thumbnail | relURL }}" alt="{{ .page.Title }}">
</div>
<div class="post_head">
<h1>{{ .page.Params.Title }}</h1>
</div>
</figure>


{{- else }}

サムネなし

{{- end }}
